.card_wrap{
    border-radius: 15px;
    display: flex;
    color: white;
    flex-direction: column;

    margin: 120px;
    padding: 50px;
    min-width: 600px;
    width: 70%;
    height: auto;

    background: rgba( 176, 174, 174, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    transition: 0.5s;
}

.card_wrap:hover{
    box-shadow: 0 8px 32px 0 rgba(136, 139, 182, 0.8)
}


.card_title{
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    border-color: rgba( 176, 174, 174, 0.35 );
}


.card_content{
    display: flex;
    margin: 10px;
}

.img-right{
    margin-left: 20px; display: flex; flex-direction: column; justify-content: space-between;
}

.framework{
    width: 60px;
    height: 60px;
}

.bar-cover{
    display: flex;
    text-align: center;
    margin-top: 5px;
    width: 400px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid;
    align-items: center;
    padding: 5px;
}

.bar-fill{
    height: 90%;
    border-radius: 8px;
    text-align: right;
    padding-right: 15px;
}

#spring{
    background-image: linear-gradient(to right, #00b09b, #96c93d);
    width: 80%;
}

#django{
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    width: 50%;
}

.tech{
    height: 20px;
}

.content_title{
    font-weight: 100;
    margin-top: 20px;
}





/* gallery */
.card {
    position: relative;
    width: 120px;
    height: 200px;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 15px;
    margin: 20px;
}
  
.card:hover {
    transform: rotateY(0.5turn);
}
  
.card__side {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.card__side--back {
    position:relative;
    transform: rotateY(0.5turn);
}

.card__side--back p{
    position: absolute;
    top: 20%;
    left: 5%;
}

.card__side > img {
    width: 120px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* this is modal card */
.modal_card_background {
    display: grid;
    place-items: center;
    height: 10vh;
    margin: 20px;
}
.modal_gallery {
    display: flex;
    left: calc(50% - 19rem);
}

.modal_card {
    position: relative;
    left: 0;
    width: 12rem;
    height: 11rem;
    background-color: var(--background-card);
    border-radius: 0.5rem;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.modal_card:not(:first-child) {
    margin-left: -3rem;
}

.modal_card:hover {
    transform: translateY(-1rem);
    font-weight: bold;
    cursor: pointer;
}

.modal_card:hover ~ .modal_card {
    left: 3.5rem;
}

.modal_card img {
    height: 11rem;
    object-fit: cover;
    border-radius: 0.25rem;
}

/* gallery end */



