/* header */
:root {
    --primary: #b0e1e6;
    --background: black;
    --nav-background: #141318;
    --nav-item-bg-hover: #79797920;
    --navbar-height: 4rem;
    --text-gray: #252525;
    --text-white: white;
    --bg: #171717;
    --text-color: #fff;
    --accent: cyan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background: var(--background);
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1037366/planet2.png");
    background-position: center;
    background-repeat:no-repeat;
    transition: 0.5s;
}

nav {
    background: var(--nav-background);
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    z-index: 999;
}


/* buton */
.button {
    display: inline-block;
    max-width: 20rem;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.shape {
    fill: transparent;
    stroke: var(--accent);
    stroke-dasharray: 120 500;
    stroke-dashoffset: -454;
    stroke-width: 8px;
    transition:
        stroke-width 0.9s,
        stroke-dashoffset 0.9s,
        stroke-dasharray 0.9s;
}

.text {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.3rem;
    color: var(--text-color);
    top: -3rem;
    position: relative;
    pointer-events: none;
}

.shape:hover {
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
    background-color: var(--nav-background);
}








/* body */
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container{
    font-family: 'Orbit-Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    padding-bottom: 200px;
}

#profile{
    width: 120px;
    border: 1px solid;
    margin: 10px;
}

/* download button */

.cta-button {
    box-shadow: 0 0 0 0 #F4BD50;
    outline: 2px solid;
    color: white;
    outline-color: white;
    outline-offset: 0;
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
}

.cta-button:hover {
    box-shadow: 0 0 0 2px var(
        --accent
    );
    outline-color: rgba(
        255, 255, 255, 0
    );
    outline-offset: 15px;
    color: var(--accent);
}

/* download button */

/* figure */
.trigger-button {
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 0.8rem;
    min-height: 2.5rem;
    max-width: 10rem;
    width: 100%;
    font-weight: 600;
    transition: all 0.25s;
}

.trigger-button:hover {
    text-decoration: underline; 
}

.notification {
    position: absolute;
    bottom: 1rem;
    padding: 0px 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    background-color: #d1d7d1;;
    color: var(--text);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInAnimation ease-in-out 0.25s forwards;;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
                0px 6px 10px 0px rgba(0,0,0,0.14),
                0px 1px 18px 0px rgba(0,0,0,0.12);
}

.none {
    display: none;
}

.hide {
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.25s forwards;
}

.notification__body {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.notification__body__first {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.notification__body__first > svg {
    height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    fill: #52b685;  
}

.notification__body > svg:nth-last-child(1) {
    cursor: pointer;
    margin: auto;
    min-width: 1.5rem;
    min-height: 1.5rem;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        min-height: 2.5rem;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        min-height: 3.75rem;
        visibility: visible;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        min-height: 3.75rem;
        visibility: visible;
    }
    100% {
        opacity: 0;
        min-height: 2.5rem;
        visibility: hidden;
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

/* figure end  */